:root {
    --bg-opacity: 1;
    --text-opacity: 1;
    --border-opacity: 0.5;
}

@media (min-width: 375px) {
    .nav-socialItem {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

@media (min-width: 768px) {
    h1, h2 {
        font-size: 3rem;
    }
    
    .nav-menuLink {
        padding: 1rem 3rem;
    }

    .navGrid-group {
        padding: 5rem 3rem 0;
    }
    
    .navGrid-row {
        margin: 0 .75rem;
    }

    .nav-submenuLink {
        padding-left: 5rem;
    }
    
    .nextHomeHeaderGrid.homeLead {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .wrapper {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        display: flex;
        left: 0;
        position: absolute;
        width: 3em;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    .main-nav {
        position: -webkit-sticky;
        position: sticky;
    }

    .main-nav .nav-1 {
        background-color: rgba(247, 248, 248, var(--bg-opacity));
        background-color: #f7f8f8;
        position: relative;
        height: 3rem;
    }

    .nav-menuContainer {
        z-index: 100;
    }

    .logo-link {
        display: block !important;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
    }

    .nav-1 .nav-menuLink {
        font-family: 'Shentox', sans-serif;
        letter-spacing: .08em;
        line-height: 1;
        text-transform: uppercase;
        font-size: .875rem;
        color: #505666;
        color: rgba(80, 86, 102, var(--text-opacity));
        line-height: 45px;
        padding-top: .1875rem;
    }

    .nav-menuLink {
        padding: 0 .75rem;
    }

    .nav-menuItem:hover .nav-menuLink {
        color: #000;
        color: rgba(0, 0, 0, var(--text-opacity));
        background-color: #fff;
        background-color: rgba(255, 255, 255, var(--bg-opacity));
    }

    .has-grid > .nav-menuLink::after,
    .has-menu > .nav-menuLink::after {
        top: 18px;
    }

    .nav-menuLink::after {
        margin-top: -.1875rem;
    }

    .nav-menuItem.has-grid:hover .nav-grid,
    .nav-menuItem.has-grid:hover .nav-menuLink::before {
        display: block;
    }

    .nav-grid::after {
        display: block;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 5rem;
        background-image: linear-gradient(90deg, transparent, #000);
        content: "";
    }

    .nav-grid {
        -webkit-animation: navGrid .15s ease-out both;
        animation: navGrid .15s ease-out both;
        position: absolute;
        z-index: 50;
        left: 0;
        width: 100%;
        color: #fff;
        color: rgba(255, 255, 255, var(--text-opacity));
        box-shadow: 0 0 24px rgba(0, 0, 0, .15);
        transform-origin: center 0;
    }

    .navGrid {
        display: flex;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 3rem 5rem 3rem 0;
    }

    .navGrid-group {
        padding: 0 1.5rem;
    }
    
    .navGrid-group:not(:first-child) {
        border-color: #505666;
        border-left: 1px solid rgba(80, 86, 102, 0.5)
    }

    .navGrid-row {
        margin: 0;
    }

    .navGrid-item {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        width: 10rem;
        padding: 0;
        margin-bottom: 0;
        flex-basis: 10rem;
    }

    .navGrid-item:not(:first-child) {
        margin-left: 1.5rem;
    }

    .navGrid-image {
        flex: none;
        width: 100%;
        margin-bottom: 1rem;
    }

    .navGrid-text {
        flex: none;
    }

    .nav-menuItem.has-menu {
        position: relative;
    }

    .nav-menuItem.has-menu:hover .nav-submenu {
        display: block;
    }

    .nav-submenu {
        position: absolute;
        z-index: 50;
        margin-left: -7rem;
        left: 50%;
        line-height: 1.5;
        text-align: center;
        width: 224px;
        -webkit-animation: navSubmenu .15s ease-out both;
        animation: navSubmenu .15s ease-out both;
        box-shadow: 0 4px 24px rgba(0, 0, 0, .15);
    }

    .nav-submenu::before {
        animation: navSubmenuTail .15s ease-out both;
        -webkit-animation: navSubmenuTail .15s ease-out both;
        position: absolute;
        height: 0;
        width: 0;
        left: 50%;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: #000;
        content: "";
        margin: -6px 0 0 -6px;
    }

    .nav-submenuItem:not(:first-child) {
        border-color: #505666;
        border-top: 1px solid rgba(80, 86, 102, var(--border-opacity));
    }

    .nav-submenuLink {
        padding: 1rem;
    }

    .nav-submenuLink:hover {
        background-color: #505666;
        background-color: rgba(80, 86, 102, var(--bg-opacity)); 
    }

    .nav-submenuLinkTitle {
        font-size: 1rem;
        font-weight: 400;
    }

    .nav-submenuLinkNote {
        font-size: .75rem;
        --text-opacity: 0.75;
    }

    .nav-icons {
        right: 0;
    }

    .nav-footer {
        display: none;
    }

    .page {
        padding: 0;
    }

    .showcase {
        padding: 6rem 0;
    }

    .wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .nextHomeHeaderGrid .nxtHome {
        display: flex;
        align-items: center;
        padding: 2% 0;
    }

    .nextHomeHeaderGrid .nxtHome header {
        width: 80%;
    }

    .showcase-header .homepage {
        max-width: 25%;
        height: auto;
        margin: 0 0 0 5%;
        padding: 1em 0;
    }

    .nextHomeHeaderGrid .mob-tagline {
        display: none;
    }

    .nextHome .sectionHeader--center h1 {
        display: none;
    }

    .brandIntro-text {
        margin-bottom: 2rem;
        font-size: 32px;
    }

    .nextHomeHeaderGrid .nxtHome .brandIntro-text {
        display: block;
        width: 25%;
        margin-top: 3%;
    }
}


